* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: #f6f6f6;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 10%;
}

.vector {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.navigation {
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: black;
    margin: 15px;
}

.first {
    position: relative;
}

.first:after {
    position: absolute;
    content: '';
    height: 1.5px;
    bottom: -8px;
    margin: 0 auto;
	left: 0;
    right: 0;
	width: 80%;
    background: black;
}

.main {
    max-width: 1000px;
    width: 100%;
    /* border: 2px solid blue; */
    margin: 0 auto;
}

.child {
    display: flex;
    flex-direction: column;
}

.child input {
    width: 350px;
    height: 20px;
    border: 1px solid #8AC0E2;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
}

span {
    font-size: 13px;
    font-weight: 100;
}

.main {
    background-color: white;
    border-radius: 18px;
    margin-top: 20px;
}

form {
    padding: 40px 100px;
}

.parent {
    display: flex;
    justify-content: space-between;
}

select {
    width: 100%;
    height: 40px;
    margin-top: 25px;
    background-color: #EBEBEB;
    padding-left: 10px;
    border-radius: 4px;
}

.grandChild {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.grandChild input {
    width: 100%-10px;
    height: 20px;
    border: 1px solid #8AC0E2;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
}

button {
    background-color: #62A1EB;
    color: white;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    float: right;
}

.redLogo {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
}