@font-face {
    font-family: myFirstFont;
    src: url(/fonts/HelveticaNeue.ttc);
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFirstFont;
}

.laptopInfo {
    display: none;
}

body {
    background-color: #f6f6f6;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 10%;
}

.backPage {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.navigation {
    margin-top: 40px;
}

.navigation button {
    color: black;
    margin: 15px;
    font-size: 18px;
    border: none;
    position: relative;
    background-color: transparent;
}

.employeeInfoBtn {
    position: relative;
}

.submitBtn {
    border: none;
}

.submitBtn:disabled {
    cursor: no-drop;
}

.navigation button.active:after {
    position: absolute;
    content: '';
    height: 1.5px;
    bottom: -8px;
    margin: 0 auto;
	left: 0;
    right: 0;
	width: 80%;
    background: black;
}

.main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border-radius: 18px;
    margin-top: 20px;
}

.child {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.child input {
    border: 1px solid #8AC0E2;
    border-radius: 4px;
    padding: 10px 0 10px 10px;
    margin: 5px 0;
    font-size: 13px;
}

span {
    font-size: 13px;
    font-weight: 100;
    color: rgb(140, 140, 140);
}

form {
    padding: 40px 100px;
}

.parent {
    display: flex;
    gap: 50px;
}

select {
    width: 100%;
    height: 40px;
    margin-top: 25px;
    background-color: #EBEBEB;
    padding-left: 10px;
    border-radius: 4px;
}

.grandChild {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.grandChild input {
    width: 100%-10px;
    border: 1px solid #8AC0E2;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    font-size: 13px;
}

.nextPage {
    background-color: #62A1EB;
    color: white;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    float: right;
}

.lastFigure {
    height: 100px;
    text-align: center;
    background: #f6f6f6;
}

.redLogo {
    width: 60px;
    height: 60px;
    margin-top: 25px;
}

button {
    cursor: pointer;
}

.backArrow {
    display: none;
}

#tab {
    display: none;
}

.error {
    border: none !important;
    outline: solid 1px red !important;
}

.details{
    display: none;
    justify-content: space-between;
    padding: 5px 10px;
}
.test{
    display: none;
    object-fit: cover;
    object-position: center
}

.workerInfo {
    padding: 10px;
    background: white;
}

@media screen and (max-width: 754px) {
    span {
        font-size: 12px;
    }
}

@media screen and (max-width: 680px) {
    .vector {
        left: 10px;
    }
    a {
        font-size: 14px;
    }
    form {
        padding: 40px 30px;
    }
    span {
        font-size: 11px;
    }
}

@media screen and (max-width: 580px) {
    a:nth-child(2) {
        display: none;
    }
    #tab{
        display: block;
    }
    .backPage {
        display: none;
    }
    .navigation button{
        display: none;
        margin: 0;
    }
    .active{
        display: block !important;
    }
    button.active::after{
        display: none;
    }
    .backArrow {
        display: block;
    }
    p {
        display: block;
        text-align: center;
        font-weight: 100;
        font-size: 13px;
        color: rgb(140, 140, 140);
    }
    header {
        height: 60px;
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
    }
    .backArrow {
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    a {
        margin: 0;
        font-size: 16px;
    }
    .navigation {
        margin: 0;
    }
    .first:after {
        display: none;
    }
    .parent {
        flex-direction: column;
        gap: 0px;
    }
    form {
        padding: 0px 30px 50px 30px;
    }
    .child {
        margin-top: 15px;
    }   
    .redLogo {
        display: none;
    }
    body {
        background-color: #fff;
    }
}