* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#logo {
    margin: 60px 0 60px 0;
}

#pic {
    height: 330px;
    margin-bottom: 60px;
}

button {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    background-color: #62A1EB;
    color:white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

