@font-face {
    font-family: myFirstFont;
    src: url(/fonts/HelveticaNeue.ttc);
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFirstFont;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

figure {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.logo {
    margin: 60px 0 60px 0;
}

.pic {
    height: 310px;
    margin-bottom: 60px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons a {
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    background-color: #62A1EB;
    color:white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.mobPic {
    display: none;
}

@media screen and (max-width: 600px) {
    .pic {
        display: none;
    }

    .mobPic {
        display: block;
        height: 330px;
        /* margin-bottom: 60px; */
    }
}

@media screen and (max-width: 530px) {
    .mobPic {
        width: 100%;
    }
    .buttons {
        width: 100%;
        align-items: center;
    } 
        
    .buttons a {
        width: 90%;
        margin: 0;
    }
    .buttons a:nth-child(1) {
        margin-top: 0px;
    }
    .buttons a:nth-child(1) {
        margin-bottom: 10px;
    }
}