@font-face {
    font-family: myFirstFont;
    src: url(/fonts/HelveticaNeue.ttc);
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFirstFont;
}

body {
    background: #4A4A4A;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 420px;
    background-color: #ffffff;
    margin: 150px auto;
    border-radius: 8px;
}

img {
    min-width: 190px;
    width: 190px;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 11px 50px 11px 50px;
    background-color: #62A1EB;
    border-radius: 8px;
    border: none;
    color: white;
    margin: 50px 0 20px 0;
    font-size: 15px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #0089A7;
    font-size: 16px;
}

br {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        background-color: #ffffff;
    }
    .main {
        width: 100%;
        height: 100vh;
        justify-content: space-around;
        margin: 0;
    }
    br {
        display: block;
    }
    h4 {
        text-align: center;
        font-size: 20px;
    }
    .buttons {
        width: 100%;
    }
    button {
      width: 80%; 
      height: 60px;
      font-size: 20px;
      /* margin: 250px 0px 50px; */
      font-weight: 500;
    }
    a {
        font-size: 18px;
        font-weight: 600;
    }
}